@import "../mixins/mixins";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	@media only screen and (max-width: 560px) {
		font-size: 42.5%;
	}
	@media only screen and (max-width: 360px) {
		font-size: 35.5%;
	}
}
body {
	@include flex-center;
	height: 100vh;
	font-family: $font-primary;
	font-size: 1.6rem;
	color: #fff;
	background-color: $very-dark-blue;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.container {
	padding: 10rem 2rem;
	width: 1440px;
	margin: auto;
}
