@import "../mixins/mixins";
.statistics {
	transition: filter 0.2s ease-in-out;
	&:hover {
		transition: filter 0.2s ease-in-out;
		filter: brightness(1.25);
	}
	&__item .top {
		width: 100%;
		height: 7rem;
		background-color: rgb(238, 178, 178);
		border-radius: 1.4rem;
	}
	&__item .bottom {
		@include flex-column;
		gap: 3rem;
		margin-top: -2rem;
		padding: 3rem 4rem;
		border-radius: 1.4rem;
		background-color: $dark-blue;
		cursor: pointer;
	}
	h3 {
		font-size: 2rem;
		font-weight: $bold;
	}
	p {
		color: rgba(255, 255, 255, 0.589);
	}
	.dashboard-class {
		@include flex-space-between;
	}
	.dashboard-stats {
		@media only screen and (max-width: 860px) {
			@include flex-space-between;
			align-items: baseline;
		}
		span {
			font-size: 7rem;
			font-weight: $light;
		}
	}
}
.statistics__item {
	.top {
		background-repeat: no-repeat;
		background-position: top right 3rem;
	}
}
.statistics__item-0 {
	.top {
		background-color: $light-red;
		background-image: url(../../images/icon-work.svg);
	}
}
.statistics__item-1 {
	.top {
		background-color: $blue;
		background-image: url(../../images/icon-play.svg);
	}
}
.statistics__item-2 {
	.top {
		background-color: $pink;
		background-image: url(../../images/icon-study.svg);
	}
}
.statistics__item-3 {
	.top {
		background-color: $lime-green;
		background-image: url(../../images/icon-exercise.svg);
	}
}
.statistics__item-4 {
	.top {
		background-color: $violet;
		background-image: url(../../images/icon-social.svg);
	}
}
.statistics__item-5 {
	.top {
		background-color: $soft-orange;
		background-image: url(../../images/icon-self-care.svg);
	}
}
svg path {
	transition: fill 0.2s ease-in-out;
	&:hover {
		transition: fill 0.2s ease-in-out;
		fill: white;
	}
}
